# .coveragerc to control coverage.py
[run]
branch = True

[report]
# Regexes for files to exclude from consideration
omit =
    *\mlgit\options.py
    *__init__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__.?==.{0,2}__main__.{0,2}:
	
	# Don't complain if tests don't hit docstrings
	"""

ignore_errors = True

[html]
directory = coverage_html_report